Aminos.yml
app:
  description: AI enhanced surfing experience.
  icon: 🔍
  icon_background: '#D1E9FF'
  mode: advanced-chat
  name: Aminos
  use_icon_as_answer_icon: true
dependencies: []
kind: app
version: 0.4.0
workflow:
  conversation_variables:
  - description: images
    id: 81eb57d8-ef07-4fa4-bc97-59d468e3bb83
    name: imgs
    selector:
    - conversation
    - imgs
    value:
    - type: screenshot
    value_type: array[object]
  - description: gained information through searching
    id: f50d49e5-383b-479d-97ef-fe6cab542655
    name: info
    selector:
    - conversation
    - info
    value: ''
    value_type: string
  - description: array of tab unique names
    id: f7447a3b-b74d-4e3b-bcc8-3e2bf6244ddf
    name: tab_list
    selector:
    - conversation
    - tab_list
    value: []
    value_type: array[string]
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: agent
      id: 1739229221219-source-1762070313584-target
      source: '1739229221219'
      sourceHandle: source
      target: '1762070313584'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: agent
        targetType: code
      id: 1762070313584-source-1762666651552-target
      source: '1762070313584'
      sourceHandle: source
      target: '1762666651552'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1762666651552-source-answer-target
      source: '1762666651552'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 52
      id: '1739229221219'
      position:
        x: 322.9214425408801
        y: 0
      positionAbsolute:
        x: 322.9214425408801
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1762070313584.files#}}{{#1762666651552.final_answer#}}'
        desc: ''
        selected: false
        title: 回复
        type: answer
        variables: []
      height: 122
      id: answer
      position:
        x: 1247.5881836260698
        y: 0
      positionAbsolute:
        x: 1247.5881836260698
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: "You are a browser assistant. You should actively help users use\
              \ the browser to do whatever they want. To achieve this, you control\
              \ a browser through the chromedriver tool for the user. Strengthen your\
              \ understanding of the user's intent and be more proactive in invoking\
              \ tools (NOT limited to just using search engines; enhance the depth\
              \ of tool utilization; DO MORE). If you run into trouble or don't know\
              \ what to do next, ask the user to take control. Prefer duckduckgo rather\
              \ than baidu.\nSplit the whole task into sdp calls. Do one step and\
              \ execute one command at a time, then decide what to do based on TOOL\
              \ RESULTS. Use tools to obtain page information instead of fabricating\
              \ baseless content. Regularly get browser info(Target.getTargets) to\
              \ gain a better understanding. Keep in mind that you are using the same\
              \ browser as the user. Leave useful tabs for the user and try to reuse\
              \ the running browser by creating new tabs instead of new windows, remember\
              \ to attach to created tab. While using CDP, call it as many times as\
              \ needed.\nDO NOT WRITE ANY CODE TO WAIT FOR LOADING. NO MAKING UP URI.\
              \ The user can directly see the tab you are controlling, so no screenshots\
              \ are required. \ncommand like \"{\\\"cmd\\\":\\\"Target.activateTarget\\\
              \",\\\"args\\\":{\\\"targetId\\\":\\\"4B6C0B5369450E8954AE863F6DB5B814\\\
              \"}}\""
          maximum_easytool_retries:
            type: constant
            value: 5
          maximum_iterations:
            type: constant
            value: 16
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: gemini-2.5-flash-nothinking
              model_type: llm
              provider: langgenius/openai_api_compatible/openai_api_compatible
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: 允许 agent 使用 chromedriver 控制浏览器。
              parameters:
                command:
                  auto: 1
                  value: null
              provider_name: e4e61964-6dce-4c4c-b2a6-203b652fe51b/chromedriver/chromedriver
              provider_show_name: e4e61964-6dce-4c4c-b2a6-203b652fe51b/chromedriver/chromedriver
              schemas:
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: command send to chromedriver to execute.
                  ja_JP: chromedriver に送信して実行するコマンド。
                  pt_BR: Comando enviado ao chromedriver para execução.
                  zh_Hans: 发送给 chromedriver 执行的命令。
                label:
                  en_US: CDP command
                  ja_JP: CDP コマンド
                  pt_BR: Comando CDP
                  zh_Hans: CDP 命令
                llm_description: 'send the cdp command to chromedriver for execution.
                  The command should follow `Chrome Devtools Protocol` format, contain
                  command and arguments, wrapped in json string. Example: `{"cmd":"Page.captureScreenshot","args":{"format":
                  "jpeg"}}`'
                max: null
                min: null
                name: command
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: string
              settings: {}
              tool_description: 允许 agent 使用 chromedriver 控制浏览器。
              tool_label: chromedriver
              tool_name: chromedriver
              type: builtin
        agent_strategy_label: EnhanceFunctionCalling
        agent_strategy_name: enhancing_function_agent
        agent_strategy_provider_name: allenyzx/enhancing_function_agent/enhancing_function_agent
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 3
        meta:
          minimum_dify_version: null
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: allenyzx/enhancing_function_agent:0.0.2@bdbcf7d9d7b307aece84c5b810286bc975be3cd713324bd642b5d6f26496c169
        selected: false
        title: Agent
        tool_node_version: '2'
        type: agent
      height: 196
      id: '1762070313584'
      position:
        x: 644.5758407016933
        y: 0
      positionAbsolute:
        x: 644.5758407016933
        y: 0
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\n\ndef main(text: str):\n    think_blocks = re.findall(r'<think>(.*?)</think>',\
          \ text, re.DOTALL)\n\n    final_answer = \"\"\n    last_think_end = text.rfind('</think>')\n\
          \    if last_think_end != -1:\n        final_answer = text[last_think_end\
          \ + len('</think>'):].strip()\n    else:\n        final_answer = text.strip()\n\
          \    \n    return {\n        \"think_blocks\": [block.strip() for block\
          \ in think_blocks],\n        \"final_answer\": final_answer\n    }\n"
        code_language: python3
        outputs:
          final_answer:
            children: null
            type: string
          think_blocks:
            children: null
            type: array[string]
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1762070313584'
          - text
          value_type: string
          variable: text
      height: 52
      id: '1762666651552'
      position:
        x: 956.5264807306478
        y: 0
      positionAbsolute:
        x: 956.5264807306478
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -468.8277141709914
      y: 280.66611374307774
      zoom: 1.0281138266560625
  rag_pipeline_variables: []
